.main-container{
    height: 97vh;
    width: 97vw;
    background-color: #FFFFFF;
    border: 1px solid black;
    display: flex;
}
.leftcontainer{
    height: 100%;
    width: 20%;
    border: 1px solid black;
    background-color: #E1F9F4;
}
.logo{
    height: 15%;
    width: 100%;
    border: 1px solid black;
    margin-top: 50px;
    font-size: large;
    font-weight: bold;
    
}
.leftbuttons{
    height: 10%;
    width: 100%;
    border: 1px solid black;
    display: flex;
}
.icons{
    height: 100%;
    width: 25%;
    border: 1px solid black;
}
.buttoncontent{
    height: 100%;
    width: 75%;
    border: 1px solid black;
}
.rightcontainer{
    height: 100%;
    width: 80%;
    border: 1px solid black;
}
.rightheader{
    height: 15%;
    width: 100%;
    border: 1px solid black;
}
.rightheader p1{
    margin-right: 500px;
}
.maincontainer{
    height: 85%;
    width: 100%;
    border: 1px solid black;
}
.maincontainer-sub1{
    height: 20%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.maincontainer-sub2{
    height: 80%;
    width: 100%;
    border: 1px solid black;
}
.maincontainer-sub1-partitions{
    height: 50%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;


}
.form-group {
    display: inline-block;
    width: 45%; /* Adjust width as needed */
    margin-right: 5%; /* Adjust margin between columns */
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  select {
    width: 100%; /* Make the dropdown fill the container */
    padding: 5px;
  }

  button{
    border-radius: 10%;
  }