.main-container{
    height: 99vh;
    width: 98vw;
    background-color: #FFFFFF;
    border: 1px solid black;
    }
    .header{
    height: 10%;
    width: auto;
    display: flex;
    border: 1px solid black;
    
    }
    .logo{
    height:100%;
    width: 15%;
    display: flex;
    position:relative;
    background-color: #E1F9F4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    border: 1px solid black;
    padding: 20px 20px;
    
    }
    .logo h2{
    position:absolute;
    top: 20px; bottom: 0; left: 0; right: 0;
    }
    .userdetails{
    height:100%;
    width: 85%;
    display: flex;
    color: #A6A6A6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    justify-content:space-between;
    border: 1px solid black;
    }
    .userdetails p1{
    margin-top: 25px;
    margin-left: 30px;
    
    }
    .list ul li{
    margin-bottom: 20px;
    }
    .list1{
    color: #2289FF;
    list-style-image:url("../image/list1.png");
    }
    .list2{
    list-style-image:url("../image/list2.png");
    }
    .list3{
    list-style-image:url("../image/list3.png");
    }
    .list4{
    list-style-image:url("../image/list4.png");
    }
    .list5{
    list-style-image:url("../image/list5.png");
    }
    .list6{
    list-style-image:url("../image/list6.png");
    }
    .content{
    height: 87%;
    width: auto;
    border: 1px solid black;
    display: flex;
    }
    .list{
    height:100%;
    width: 15%;
    background-color: #E1F9F4;
    border: 1px solid black;
    padding: 20px 20px;
    }
    .var-content{
    height:100%;
    width: 85%;
    border: 1px solid black;
    }
    .srh-btn{
    width: 100%;
    height:10%;
    border: 1px solid black;
    }
    .srh{
    border-radius: 20px;
    height:30px;
    border-color: #E6E6E6;
    margin-right: 400px;
    }
    .addbtn{
    height:40px;
    margin-left: 450px;
    background-color: #6AB4F8;
    border-radius: 20px;
    border-color: #6AB4F8;
    color: #FFFFFF;
    }
    
    
    .prevbtn{
    height:40px;
    width: 120px;
    background-color: #6AB4F8;
    border-radius: 20px;
    border-color: #6AB4F8;
    color: #FFFFFF;
    
    }
    .savebtn{
    height:40px;
    width: 120px;
    background-color: #022a50;
    border-radius: 20px;
    border-color: #022a50;
    color: #FFFFFF;
    }
    
    .photobtn{
    height:100px;
    width: 100px;
    background-color: #6AB4F8;
    border-radius: 50px;
    border-color: #6AB4F8;
    color: #FFFFFF;
    
    }
    .table{
    width: 100%;
    height:90%;
    border: 1px solid black;
    }
    
    .form-group {
    display: inline-block;
    width: 30%;
    margin-right: 15%;
    margin-bottom: 15px;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    select {
    width: 100%;
    padding: 5px;
    }